*,
p {
    margin: 0;
    text-decoration: none !important;
    font-family: 'Roboto', sans-serif;
}

/* header section starts */
.navbar {
    box-shadow: 0px 1px 3px 4px #00000050;
}

.navbar-brand {
    font-size: 25px;
    font-weight: 600;
}

.navbar span {
    color: #c02424;
}

.nav-link {
    font-size: 20px;
    font-weight: 500;
    color: #000;
}

.nav {
    display: flex;
}

.navbar-btn {
    background-color: #e0d6d6;
    border: 1px solid #c02424;
    width: 170px;
    padding: 5px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
}

.navbar-btn .nav-link {
    font-size: 16px;
    font-weight: 500;
}

.navbar-btn .active {
    border: none;
    box-shadow: inset 0px 1px 3px 4px #d4a2a2;
    border-radius: 10px;
}

.nav-link:hover {
    color: #a61e1e;
}

.menu-icon {
    display: none;
}

.side-nav {
    display: none;
}

/* header section ends */

/* home section starts */
.mt-5 {
    margin-top: 9rem !important;
}

.container-fluid {
    display: flex;
    justify-content: space-around;
}

.container-fluid .text {
    font-size: 40px;
    font-weight: 700;
    background-color: #f6e4e4;
    display: inline-block;
    border-radius: 30px;
    border: 3px solid #c02424;
    width: 550px;
    height: 300px;
    text-align: center;
    align-content: center;
}

.container-fluid .text span {
    color: #c02424;
    animation: flicker 1.5s infinite alternate;
}

@keyframes flicker {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0.3;
    }
}

.container-fluid img {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    border: 5px solid #d4a2a2;
    transition: transform 0.5s ease;
}

.container-fluid img:hover {
    filter: brightness(1.05);
    transform: scale(1.1);
}

/* home section ends */

/* About section starts */
.about-section {
    width: 98%;
    margin: 0px auto;
}

.header-text {
    font-size: 40px;
    font-weight: 600;
    line-height: 45px;
    text-align: center;
}

.header-text span {
    color: #c02424;
}

.about-text {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    align-items: center;
}

.about-text img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 4px solid #d4a2a2;
}

.about-me {
    background-color: #f3eaea;
    border: 2px solid #d4a2a2;
    padding: 30px;
    border-radius: 10px;
}

.about-text-p {
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    text-align: justify;
}

.about-text-p span {
    color: #c02424;
}

.home-btn {
    margin: 0px auto;
    background-color: #e0d6d6;
    border: 1px solid #c02424;
    width: 260px;
    padding: 5px 7px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.home-btn button {
    color: #000;
    border: none;
    background-color: transparent;
}

.home-btn .active {
    border: none;
    box-shadow: inset 0px 1px 3px 4px #d4a2a2;
    border-radius: 10px;
    padding: 10px;
}

/* skills and certificate starts */
.skills-certification-text {
    display: none;
    width: 100%;
}

.skill-certificateBtn {
    justify-content: space-between;
    align-items: center;
    width: 200px;
    background-color: #fff;
    margin: 0px auto;
    margin-bottom: 20px;
    border-radius: 10px;
    border: 3px solid #d98686;
}

.skill-certificateBtn button {
    border: none;
    background: transparent;
    font-size: 16px;
    font-weight: 400;
}

.skillBtn {
    width: 70px;
}

.certificateBtn {
    width: 120px;
}

.skill-certificateBtn .activeSC {
    background-color: #a61e1e;
    margin: 5px;
    color: #fff;
    border: 3px solid #d98686;
    border-radius: 10px;
    padding: 3px 10px;
}

.skills-items {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.certification-text {
    display: none;
}

.frontend {
    width: 20%;
    height: 230px;
    border-radius: 10px;
    border: 2px solid #c02424;
    background-color: #f2f1f6;
    transition: transform 0.5s ease;
}

.frontend img {
    width: 100%;
    height: 140px;
    border-radius: 9px 9px 0px 0px;
}

.frontend:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.development {
    font-size: 19px;
    font-weight: 600;
    line-height: 22px;
    text-align: center;
    color: #c02424;
    padding: 0px 10px;
    padding-top: 10px;
}

.skill {
    font-size: 16px;
    font-weight: bold;
    line-height: 20px;
    padding: 0px 10px;
    text-align: center;
    padding-bottom: 10px;
}

.skills-text-p,
.certification-text-p {
    font-size: 28px;
    font-weight: 600;
    line-height: 30px;
    color: #c02424;
    text-align: center;
}

.certification-items {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
}

.certificate-item {
    width: 27%;
    height: 420px;
    border-radius: 10px;
    border: 2px solid #c02424;
    background-color: #f2f1f6;
    transition: transform 0.5s ease;
}

.certificate-item:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.certificate-item img {
    width: 100%;
    height: 190px;
    border-radius: 9px 9px 0px 0px;
}

.certificate {
    font-size: 14px;
    font-weight: bold;
    padding: 10px;
    text-align: justify;
}

.company-name {
    font-size: 16px;
    font-weight: 500;
    color: #2c24c0;
    text-align: center;
    line-height: 20px;
    padding: 0px 10px;
}

/* skills and certificate ends */
/* About section ends */

/* education section starts */
.education {
    margin-top: 30px;
    background: linear-gradient(to right, #f0f0f0, #e0d6d6);
    padding: 40px 0;
    animation: slideIn 2s ease forwards;
}

.education h1 {
    font-weight: 600;
    text-align: center;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}

.education h1 span {
    color: #c02424;
}

.education p {
    text-align: center;
}

.education p b {
    color: #c02424;
    font-size: 20px;
}

.college {
    background-color: #e0d6d6;
    width: 60%;
    margin: 3% auto;
    padding: 20px;
    box-shadow: inset 0px 1px 3px 4px #d4a2a2;
    border-radius: 10px;
    border: 2px solid #c02424;
    transition: transform 0.3s ease;
}

.college:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.school {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.school-12,
.school-10 {
    background-color: #e0d6d6;
    width: 35%;
    padding: 20px;
    box-shadow: inset 0px 1px 3px 4px #d4a2a2;
    border-radius: 10px;
    border: 2px solid #c02424;
    transition: transform 0.3s ease;
}

.school-12:hover,
.school-10:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

@keyframes slideIn {
    from {
        transform: translateY(30px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

/* education section ends */

/* work experience section starts */
.work-experience {
    margin-top: 60px;
    animation: fadeIn 0.6s ease forwards;
}

.work-experience h1 {
    font-weight: 600;
    line-height: 40px;
    text-align: center;
}

.work-experience h1 span {
    color: #c02424;
}

.experience-data {
    background-color: #e0d6d6;
    width: 85%;
    margin: 30px auto;
    padding: 20px;
    box-shadow: inset 0px 1px 3px 4px #d4a2a2;
    border-radius: 10px;
    border: 2px solid #c02424;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.experience-data:hover {
    transform: scale(1.02);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.work-experience p b {
    font-size: 20px;
}

.work-experience p {
    font-size: 18px;
    font-weight: 400;
    padding-left: 20px;
    text-align: justify;
}

.experience-data ul {
    list-style: none;
    /* Remove default bullets */
    padding: 0;
    /* Remove padding */
}

.experience-data ul li {
    position: relative;
    padding-left: 20px;
    /* Space for custom bullet */
}

.experience-data ul li:before {
    content: '•';
    /* Custom bullet */
    position: absolute;
    left: 0;
    color: #c02424;
    /* Bullet color */
    font-size: 24px;
    /* Bullet size */
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* work experience section ends */

/* service-section starts */
.services-section {
    width: 98%;
    margin: 60px auto;
    animation: fadeIn 0.6s ease forwards;
}

.services-section h1 {
    font-weight: 600;
    line-height: 40px;
    text-align: center;
}

.services-section h1 span {
    color: #c02424;
}

.allServices {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    /* Allows wrapping on smaller screens */
}

.service {
    width: 23%;
    border: 1px solid #c02424;
    border-radius: 10px;
    margin-bottom: 20px;
    /* Adds spacing between rows */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    position: relative;
    /* For icon positioning */
}

.service:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.service .icon {
    font-size: 30px;
    color: #fff;
    padding: 0px 5px;
}

.service .web {
    height: 90px;
    font-size: 20px;
    font-weight: 500;
    background-color: #c02424;
    color: #fff;
    text-align: center;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    display: flex;
    align-items: center;
    /* Center text vertically */
    justify-content: space-around;
    /* Center text horizontally */
}

.allServices p {
    font-size: 18px;
    line-height: 20px;
    font-weight: 400;
    text-align: justify;
    padding: 10px;
    /* Add padding for better spacing */
}

/* Animation */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* service-section ends */

/* contact section */
.contact-form {
    max-width: 70%;
    background-color: #f8f9fa;
    margin: 50px auto;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.contact-form h1 {
    font-weight: 600;
    line-height: 40px;
}

.contact-form h1 span {
    color: #c02424;
}

.btn-custom {
    background-color: #c02424;
    color: #fff;
}

.btn-custom:hover {
    background-color: #a61e1e;
    color: #ffffff99;
}

.submit-btn {
    margin: 0 auto;
    width: 30%;
}

.contact-info {
    margin-bottom: 20px;
}

.contact-link,
.linkedinn {
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.contact-link p,
.linkedinn a {
    color: blue;
    font-size: 18px;
    font-weight: 500;
    margin: 0;
}

.linkedinn a {
    text-decoration: none;
    cursor: pointer;
}

.linkedinn a:hover {
    text-decoration: underline;
}

/* contact section ends */

/* footer starts */
.footer {
    width: 100%;
    background-color: #ffffff;
    color: #343a40;
    text-align: center;
    padding: 10px 0;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
}

.footer a {
    color: #c02424;
}

/* footer ends */

@media only screen and (max-width: 600px) {

    .container-fluid .home,
    .about,
    .education-link,
    .experience,
    .services,
    .contact {
        display: none;
    }

    /* Menu icon styling */
    .menu-icon {
        display: block !important;
        font-size: 24px;
        cursor: pointer;
    }

    /* Sidebar styling */
    .side-nav {
        display: block;
        height: 100%;
        /* Full-height */
        width: 0;
        /* 0 width - hidden by default */
        position: fixed;
        /* Stay in place */
        z-index: 1;
        /* Sit on top */
        top: 0;
        right: 0;
        background-color: #ffffff;
        overflow-x: hidden;
        /* Disable horizontal scroll */
        transition: 0.5s;
        /* 0.5 second transition effect to slide in the side navigation */
        padding-top: 60px;
        /* Place content 60px from the top */
    }

    /* The navigation links inside the sidebar */
    .side-nav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #000000;
        display: block;
        transition: 0.3s;
    }

    .side-nav a:hover {
        color: #c02424;
    }

    .side-nav .close-btn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }


    .home-section {
        flex-direction: column;
    }

    .home-section {
        margin-top: 4rem !important;
    }

    .container-fluid .text {
        width: 90%;
        margin: 0px auto;
        background-color: transparent;
        border: none;
        font-size: 30px;
        height: 227px;
        transition: transform 0.3s ease, filter 0.3s ease;
    }

    .container-fluid img {
        width: 350px;
        height: 350px;
        transition: transform 0.5s ease;
    }

    .img {
        margin: 20px auto;
        width: 350px;
        height: 350px;
    }

    /* about section */
    .about-section {
        margin-top: 0px !important;
        width: 95%;
    }

    .about-text {
        display: inline-block;
        text-align: center;
    }

    .about-text img {
        width: 180px;
        height: 180px;
    }

    .about-text-p {
        margin-top: 20px;
        font-size: 15px;
        margin-bottom: 0px;
    }

    .skills-certification-text {
        display: none;
        flex-direction: column;
    }

    .skills-items {
        display: inline-block;
    }

    .frontend {
        width: 95%;
        height: 205px;
        margin-bottom: 20px;
    }

    .mb-5 {
        margin-bottom: 0rem !important;
    }

    .certification-items {
        display: inline-block;
    }

    .certificate-item {
        width: 100%;
        height: 405px;
        margin-bottom: 20px;
    }

    /* skills and certificate ends */
    /* education section starts */
    .education {
        width: 95%;
        margin: 20px auto;
        background: transparent;
    }

    .education p {
        text-align: center;
    }

    .school {
        display: grid;

    }

    .college {
        width: 100%;
    }

    .school-12,
    .school-10 {
        width: 100%;
    }

    .school-10 {
        margin-top: 20px;
    }

    /* education section ends */

    /* services section starts */

    .allServices {
        display: inline-block;
    }

    .service1,
    .service2,
    .service3,
    .service4 {
        width: 90%;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 20px;
    }

    .service {
        width: 95%;
        margin-right: auto;
        margin-left: auto;
    }

    /* services section ends */

    /* work experience section */
    .work-experience {
        width: 100%;
        margin-top: 30px;
    }

    .experience-data {
        width: 95%;
    }

    /* work experience ends */

    /* contact form section */
    .submit-btn {
        margin: 0px auto;
        width: 30%;
    }

    .contact-form {
        max-width: 98%;
    }

    /* contact section ends */

}

@media (max-width:360px) {

    /* home-section starts */
    .container-fluid .text {
        height: 227px;
    }

    .container-fluid img {
        width: 320px;
        height: 320px;
        transition: transform 0.5s ease;
    }

    .img {
        margin: 20px auto;
        width: 320px;
        height: 320px;
    }

    /* home-section ends */

    /* about-section */
    .certificate-item {
        width: 100%;
        height: 470px;
        margin-bottom: 20px;
    }

    /* about-section ends */

    /* education-section starts */
    .work-experience h1 {
        font-size: 25px;
    }

    /* education-section ends */

    /* service-section starts */
    .service {
        width: 95%;
        margin-right: auto;
        margin-left: auto;
    }

    /* service-section ends */
}

@media (min-width:601px) and (max-width:940px) {

    .container-fluid .home,
    .about,
    .education-link,
    .experience,
    .services,
    .contact {
        display: none;
    }

    /* Menu icon styling */
    .menu-icon {
        display: block !important;
        font-size: 24px;
        cursor: pointer;
    }

    /* Sidebar styling */
    .side-nav {
        display: block;
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        right: 0;
        background-color: #ffffff;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
    }

    /* The navigation links inside the sidebar */
    .side-nav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #000000;
        display: block;
        transition: 0.3s;
    }

    .side-nav a:hover {
        color: #c02424;
    }

    .side-nav .close-btn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }

    .container-fluid .text {
        font-size: 23px;
        font-weight: 700;
        background-color: #f6e4e4;
        display: inline-block;
        border-radius: 30px;
        border: 3px solid #c02424;

    }

    .container-fluid img {
        width: 250px;
        height: 250px;
        transition: transform 0.5s ease;
    }

    .img {
        width: 250px;
        height: 250px;
    }

    .container-fluid .text {
        width: 300px;
        height: 170px;
    }

    /* home section ends */

    /* about section */
    .about-section {
        margin-top: 0px !important;
        width: 95%;
    }

    .skills-certification-text {
        display: none;
        flex-direction: column;
    }

    .skills-items {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .frontend {
        width: 47%;
        height: 205px;
        margin-bottom: 20px;
    }


    .certification-items {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }

    .certificate-item {
        width: 47%;
        height: 450px;
        margin-bottom: 20px;
    }

    .certificate {
        font-size: 13px;
    }

    /* skills and certificate ends */
    /* education section starts */
    .education {
        width: 95%;
        margin: 20px auto;
        background: transparent;
    }

    .education p {
        text-align: center;
    }

    .school {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .college {
        width: 100%;
    }

    .school-12,
    .school-10 {
        width: 45%;
    }

    /* education section ends */

    /* services section starts */

    .allServices {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .service {
        width: 45%;
        margin-right: auto;
        margin-left: auto;
    }

    /* services section ends */

    /* work experience section */
    .work-experience {
        width: 100%;
        margin-top: 30px;
    }

    .experience-data {
        width: 95%;
    }

    /* work experience ends */

    /* contact form section */
    .submit-btn {
        margin: 0px auto;
        width: 17%;
    }

    .contact-form {
        max-width: 100%;
    }

    /* contact section ends */
}

@media (min-width:940px) and (max-width:1100px) {

    .container-fluid .home,
    .about,
    .education-link,
    .experience,
    .services,
    .contact {
        display: none;
    }

    /* Menu icon styling */
    .menu-icon {
        display: block !important;
        font-size: 24px;
        cursor: pointer;
    }

    /* Sidebar styling */
    .side-nav {
        display: block;
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        right: 0;
        background-color: #ffffff;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
    }

    /* The navigation links inside the sidebar */
    .side-nav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #000000;
        display: block;
        transition: 0.3s;
    }

    .side-nav a:hover {
        color: #c02424;
    }

    .side-nav .close-btn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }

    .container-fluid img {
        width: 350px;
        height: 350px;
        transition: transform 0.5s ease;
    }

    .img {
        width: 350px;
        height: 350px;
    }

    /* home section ends */

    /* about section */
    .about-section {
        margin-top: 0px !important;
        width: 95%;
    }

    .skills-certification-text {
        display: none;
        flex-direction: column;
    }

    .skills-items {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .frontend {
        width: 47%;
        height: 205px;
        margin-bottom: 20px;
    }


    .certification-items {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }

    .certificate-item {
        width: 47%;
        height: 380px;
        margin-bottom: 20px;
    }

    /* skills and certificate ends */
    /* education section starts */
    .education {
        width: 95%;
        margin: 20px auto;
        background: transparent;
    }

    .education p {
        text-align: center;
    }

    .school {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

    }

    .college {
        width: 100%;
    }

    .school-12,
    .school-10 {
        width: 48%;
    }

    /* education section ends */

    /* services section starts */

    .allServices {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .service {
        width: 45%;
        margin-right: auto;
        margin-left: auto;
    }

    /* services section ends */

    /* work experience section */
    .work-experience {
        width: 100%;
        margin-top: 30px;
    }

    .experience-data {
        width: 95%;
    }

    /* work experience ends */

    /* contact form section */
    .submit-btn {
        margin: 0px auto;
        width: 30%;
    }

    .contact-form {
        max-width: 100%;
    }

    /* contact section ends */
}